<html>
    <body>
    
      <form action="/" method="POST">
      <table> 
      	{{ eventform }}
      </table>
      
      <input type="submit">
       </form>
       </body>
       </html>
       	<!--<ul>
        <li>Event Name: <input name="event_name"></input></li>
        <li>Organization: <input name="organizer"></input></li>
        <li>Date (YYYY-MM-DD): <input name="date"></input></li>
        <li>Time (HR:MN): <input name="date"></input></li>
        <li>Location: <input name="location"></input></li>
        <li>Zone (zone name): <input name="zone"></input></li>
        </ul>

        <div><input type="submit" value="Create Event"></div>
      </form>
    </body>
  </html> -->
  